<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- google fonts -->
 <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Main CSS -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="/styles/builder.css">
  
	<!-- VENDOR SCRIPTS -->
  <script defer src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Main JS -->
  <script defer src="/scripts/buildCharacter.js"></script>


   <!-- Bootstrap JS -->
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<title>Builder</title>

</head>
<body>
	<header>
	    <nav class="navbar navbar-expand-md navbar-light bg-light">
	      <div class="container ">
			<a class="navbar-brand content-center ml-2 h4" href="/" title = "Home page"><img src = "images/logo.png" alt = "doodle logo" height = "50" width = "50" class = "m-0 p-0">  Doodler</a>        
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>

	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav ml-auto">
	            <li class="nav-item">
	              <a class="nav-link" href="/gallery">All Doodles</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="/create-a-doodle">Create A Doodle</a>
	            </li>
	          </ul>

	        </div>
	      </div>
	    </nav>
  </header>

<section class = "builder m-5">
		<div class = "row">
			<div class = "columnone col-3">
				<div class = "body-btn-container" id="body-parts">

<!-- javascript here for the loop of body parts -->

				</div>
			</div>	
<!-- image block for character to be created -->
			<div class = "columntwo col-6">
				<div class = "doodle-container">
			<p>
				<a class = "toggle" href = "#">Toggle Div</a>
			</p>

			<div class = "toggle-content" id = "all-heads">
				<h1>testing the toggle!!!!!!</h1>
			</div>


					<!-- <img class = "center-block" alt = "" src = "images/home-hero.png" height = "500" width = "auto"> -->

<!-- INSERT AUDIO CLIP HERE -->
					<!-- audio controls autoplay loop>
					  <source src="https://open.spotify.com/embed/track/2D2lazsae9o1UoVPUAdxyT" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" type="audio/ogg">

					  <source src="horse.mp3" type="audio/mpeg">
					Your browser does not support the audio element.
					</audio> -->
				</div>
			</div>

<!-- options container of data to choose from -->
			<div class = "columnthree col-3">
				<div class = "options-container" id = "options">
					<!-- this should go through the data and depending on the ID populate the
					the images for each selected body type -->
					<!-- use javascript to create these and not hard code them -->
<!-- HEADS			 -->
					<div class="row" id = "options-row-heads">
					  <div class="box col-6 col-sm-3">
						<img class = "thumb mt-2 mb-2" src ="images/head-red-thumb.png" alt = "" height = "100">
					  </div>
					  <div class="box col-6 col-sm-3">
						<img class = "thumb mt-2 mb-2" src ="images/thumb-head-brain.png" alt = "" height = "100">
					  </div>
<!-- 
					  Force next columns to break to new line -->
					  <div class="w-100"></div>

					  <div class="box col-6 col-sm-3">
						<img class = "thumb mt-2 mb-2" src ="images/thumb-tattoo-head.png" alt = "" height = "80">
					  </div>
					  <div class="box col-6 col-sm-3">
						<img class = "thumb mt-2 mb-2" src ="images/thumb-painter-head.png" alt = "" height = "100">
					  </div>
					</div>
<!-- TORSO -->
					<div class="row" id = "options-row-torsos">
					  <div class="box col-6 col-sm-3">
						<img class = "thumb mt-2 mb-2" src ="#" alt = "" height = "100">
					  </div>
					  <div class="box col-6 col-sm-3">
						<img class = "thumb mt-2 mb-2" src ="#" alt = "" height = "100">
					  </div>
<!-- 
					  Force next columns to break to new line -->
					  <div class="w-100"></div>

					  <div class="box col-6 col-sm-3">
						<img class = "thumb mt-2 mb-2" src ="#" alt = "" height = "80">
					  </div>
					  <div class="box col-6 col-sm-3">
						<img class = "thumb mt-2 mb-2" src ="#" alt = "" height = "100">
					  </div>
					</div>

				</div>	

			</div>

</section>



</body>

<footer class="bg-light text-left text-dark pt-4 pb-4">
    <p class="mb-0">By: Sammy Consani</p>
</footer>
</html>