<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- google fonts -->
 <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Main CSS -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="/styles/builder.css">
  
	<!-- VENDOR SCRIPTS -->
  <script defer src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Main JS -->
  <script defer src="/scripts/buildCharacter.js"></script>
  <script defer src="/scripts/createCharacter.js"></script>
  <script defer src="/scripts/editCharacter.js"></script>
  <!-- <script defer src="/scripts/createTorso.js"></script> -->


   <!-- Bootstrap JS -->
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<title>Builder</title>

</head>
<body>
	<header>
	    <nav class="navbar navbar-expand-md navbar-light bg-light"id = "logo">
	      <div class="container">
			<a class="navbar-brand content-center ml-2 h4" id = "logo" href="/" title = "Home page"><img src = "images/logo.png" alt = "doodle logo" height = "50" width = "50" class = "m-0 p-0">  Doodler</a>        
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>

	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav ml-auto">
	            <li class="nav-item">
	              <a class="nav-link" id = "logo" href="/gallery">All Doodles</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" id = "logo" href="/create-a-doodle">Create A Doodle</a>
	            </li>
	          </ul>

	        </div>
	      </div>
	    </nav>
  </header>

<section class = "builder m-5">
		<div class = "row">
			<div class = "columnone col-3">
				<div class="menu">
				   <!-- <a  id="showall">All</a> -->
				   <!-- <a  id="hideall">Hide All</a> -->
				   <a  class="showSingle" target="1">Head</a>
				   <a  class="showSingle" target="2">Torso</a>
				   <a  class="showSingle" target="3">Legs</a>
				   <!-- <a  class="showSingle" target="4">Feet</a> -->
				</div>		
			</div>

		
	
<!-- image block for character to be created -->
		<div class = "columntwo col-6">
			<div class = "doodle-container">
				<img src = "https://i.imgur.com/rMkaK8d.png" class = "background-doodle">
				<div id = "head1">

				</div>
				<div id = "torso1">
				</div>
				<div id = "legs1">
				</div>
				<div id = "feet1">
				</div>

<!-- INSERT AUDIO CLIP HERE -->
<!-- INSERT RANDOMIZER BUTTON HERE -->
<!-- INSERT START OVER BUTTON HERE -->
					
			</div>
			<!-- <div class = "functions">
				<button class = "save" type = button >Save</button>
			</div> -->
		</div>

<!-- options container of data to choose from -->
		<div class = "columnthree col-3">
			<section class="cnt">
			   <div id="div1"  class="targetDiv">
			      <img src = "https://i.imgur.com/cSliq36.png" class = "divImage" id = "purple">
			      <img src = "https://i.imgur.com/vSfyfQQ.png" class = "divImage" id = "blackhair">
			      
			   </div>

			   <div id="div2" class="targetDiv">
					<img src = "https://i.imgur.com/Nyahg0z.png" class = "divImage" id = "purpleshirt">
					<img src = "https://i.imgur.com/5zw38he.png" class = "divImage" id = "blackshirt">
					<img src = "https://i.imgur.com/t0KyFlZ.png" class = "divImage" id = "blueshirt">

					

			   </div>

			   <div id="div3" class="targetDiv">
			   		<img src = "https://i.imgur.com/wmtQalj.png
			   		" class = "divImage" id = "purplepants">
			   		<img src = "https://i.imgur.com/YAU0xgY.png
			   		" class = "divImage" id = "blackshorts">
			   </div>
  					
			   

			   <div id="div4" class="targetDiv">All Feet Here</div>

			</section>
		</div>
	</div>

</section>



</body>

<footer class="bg-light text-left text-dark pt-4 pb-4">
    <h5 class="mb-0">By: Sammy Consani</h5>
</footer>
</html>