<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- google fonts -->
 <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Main CSS -->
  <link rel="stylesheet" href="styles/main.css">
   <link rel="stylesheet" href="styles/gallery.css">
  


  <!-- Main JS -->
<!--   <script defer src="buildCharacter.js"></script> -->


   <!-- Bootstrap JS -->
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<title>Gallery</title>

</head>
<body>
	<header>
	    <nav class="navbar navbar-expand-md navbar-light bg-light">
	      <div class="container ">
			<a class="navbar-brand content-center ml-2 h4" href="/" title = "Home page"><img src = "images/logo.png" alt = "doodle logo" height = "50" width = "50" class = "m-0 p-0">  Doodler</a>        
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>

	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav ml-auto">
	            <li class="nav-item">
	              <a class="nav-link" href="/gallery">All Doodles</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="/create-a-doodle">Create A Doodle</a>
	            </li>
	          </ul>

	        </div>
	      </div>
	    </nav>
  </header>

  <section class = "gallery-grid">
  	<div class = "container">

<!-- HAVE THE JS DOC LOOP THROUGH THE SAVED CHARACTERS AND DISPLAY THEM HERE. -->
  	</div>

  </section>

</body>

<footer class="bg-light text-left text-dark pt-4 pb-4">
    <p class="mb-0">By: Sammy Consani</p>
</footer>
</html>