<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- google fonts -->
 <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Main CSS -->
  <link rel="stylesheet" href="/styles/main.css">

  <!-- Main JS -->
  <script defer src="/scripts/doodleIndex.js"></script>


   <!-- Bootstrap JS -->
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<title>Doodler</title>

</head>
<body>
	<header>
	    <nav class="navbar navbar-expand-md navbar-light bg-light">
	      <div class="container ">
			<a class="navbar-brand content-center ml-2 h4" href="/" title = "Home page"><img src = "/images/logo.png" alt = "doodle logo" height = "50" width = "50" class = "m-0 p-0">  Doodler</a>        
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>

	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav ml-auto">
	            <li class="nav-item">
	              <a class="nav-link" href="/gallery">Gallery</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="/create-a-doodle">Create A Doodle</a>
	            </li>
	          </ul>

	        </div>
	      </div>
	    </nav>
  </header>

	<section class = "doodles">
		<div class = "row">
			<div class = "column-one col-6 mt-5">
					<h1 class = "createh2">CREATE YOUR OWN DOODLE</h1>
					<p class = "h5">Create your very own version of one of sammy consani's illustrated doodle characters!</p>
					<button class = "glow-on-hover doodle-button btn btn-lg btn-light mt-5 mb-0" onclick = "window.location.href='/create-a-doodle';" type = "button">Get to Doodling!</button>
					
			</div>
			<div class = "column-two col-6">
				<img class = "center-block" alt = "" src = "images/home-hero.png" height = "500" width = "auto">
			</div>
	</section>

<!-- <section>
	<div class="grid-wrapper howto m-5">
		<h2>How to user Doodler</h2>
		<p>illustrations provided by Sammy Consani</p>
				<div class = "row">
					<article class="col-third col-4 text-center">
						<img class = "text-center"src="images/painter.png" alt="">
						<div>
							<h3 class = "text-center">Pick Your Dood</h3>
							<p>He finally found his dream place. Tall ceilings, big windows. He bought a pair of white overalls just so he could paint his walls, be messy and feel alive. There's nothing like the first day in a new place. </p>
							
						</div>
					</article>

					<article class="col-third col-4 text-center">
						<img src="images/tattoo.jpg" alt="">
						<div>
							<h3 class = "text-center">Design and Stylize</h3>
							<p>He's the guy with those one of a kind bright green eyes, and curiously sexy tattoos. He's an artist, a skater, quiet but confident. Always unsure if he should cut his hair or let it keep growing. It's been bleached since he was 15. He got employee of the month already- here's his headshot.</p>
						
						</div>
					</article>

					<article class="col-third col-4 text-center">
						<img src="images/brain.jpg" alt="">
						<div>
						<h3 class = "text-center">Save!</h3>
						<p>Isn't it so obvious when someone or something is stuck on our minds? it's almost like our brains feel exposed. Like we can actually feel the jiggly pink stuff with the wind. Or is that just me? I like it anyways. - Thinking about you like this.</p>
						</div>
					</article>
				</div>
	</div>
	</section> -->


</body>

<footer class="bg-light text-left text-dark pt-4 pb-4">
    <h5 class="mb-0">By: Sammy Consani</h5>
</footer>
</html>