
/*css for show and hide buttons*/
div.menu{
   margin: 5% 10%;
   background: transparent;
}

a, #logo {
	color: black;
	font-size: 20px;
	padding: 0;
	margin: 5;
	-webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;


}

a, #showall{
   display:block;
   margin:15px;
   padding:2%;
   border-radius: 10%;
   color: black;
   text-align: center;
   font-size: 30px;
   font-family: 'Patrick Hand SC', cursive;
   -webkit-box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.2);
   -moz-box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.2);
   box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.2);
}

/*.showSingle {
display:inline-block;
   margin:0 1%;
   padding:2%;
   border-radius: 10%;
   color: black;
}*/

a:nth-child(1){
color: black;
}

a:nth-child(2){
color: black;
}

a:nth-child(3){
color: black;
}
a:nth-child(4){
color: black;
}
a:nth-child(5){
color: black;
}


.cnt{
   margin: 5% 10%;
   background: transparent;
}

/*/*css for images being displayed on the right*/

.divImage {
   height: 100px;
   margin: 5px;
   padding: 2px;
   border-style: dashed;
   border-color: red;
}

.box {
	border: 2px;
	border-style: solid;
	background: #ebebeb;
	margin: 3px;
	padding: 0;
}

.box img {
	position: center;
	width: 100%;
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.builder {
	height: 700px;
}
/*
.columntwo {
background-image: url('background-doodle.png');
height: 600px;

}*/

.doodle-container {
	/*background-image: url('https://i.imgur.com/EMpcK63.png');*/
	/*background-repeat: no-repeat;*/
	border-style: solid;
	border-color: black;
	height: 600px;
	/*background-size: contain;*/
	border-width: 5px;
	/*background-size: 600px;*/
	padding: 0;
}



#sammy-test {
	position: relative;
	top: 0;
	left: 0;
	z-index:1;
}

.contained-head{
	display: relative;
	z-index: 2;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	height: 200px;
	width: 150px;
}


#red-head-container{
	height: 200px;
}

.background-doodle {
	position: relative;
	height: 600px;
	top: 0;
	left: 150px;

}

#head1 {
	position: absolute;
	top: 0;
	left: 150px;
	display: block;
	text-align: center;
	/*border-style: solid;
	border-color: orange;*/
	height: 300px;
}
#head1 {
	position: absolute;
	top: 0;
	left: 160px;
	display: block;
	text-align: center;
	/*border-style: solid;
	border-color: orange;*/
	height: 300px;
}

.build-img-purple {

	height: 140px;
	/*border-style: dashed;*/
	/*border-color: red;*/
}

.purple-pants {
	height: 225px;
	/*border-style: dashed;*/
	/*border-color: red;*/
}

.purple-shirt {
	height: 180px;
}

.blue-shirt {
	position: absolute;
	height: 140px;
	left: 8px;
	/*width: 140px;*/
}

.black-shorts {
	position: absolute;
	height: 85px;
	left: 5px;
	
}

.build-img {

	height: 300px;
/*	border-style: dashed;
	border-color: red;*/
}

.build-img-black {
	height: 238px;
}

#torso1 {
	position: absolute;
	top: 230px;
	left: 188px;
	display: block;
	text-align: center;
	/*border-style: solid;
	border-color: yellow;*/
/*	margin-top: -75px;*/
}

#legs1 {
	position: absolute;
	top: 350px;
	/*bottom: 20;*/
	left: 215px;
	display: block;
	/*text-align: center;*/
	/*border-style: solid;*/
	/*border-color: green;*/
/*	margin-top: -75px;*/
}

#feet1 {
	position: absolute;
	top: 0;
	left: 150px;
	display: block;
	text-align: center;
	/*border-style: solid;
	border-color: yellow;*/

}
.char-head {
	height: 200px;

}

.save {
	text-align: center;
	position: bottom;
}

.functions {
	border-style: solid;
	border-color: blue;
	
}







